<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd">

	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:ignoreUnresolvablePlaceholders="false" p:ignoreResourceNotFound="true">
		<property name="locations">
			<list>
				<value>classpath:arsnova.properties.example</value>
				<value>file:///etc/arsnova/arsnova.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8" />
	</bean>

	<context:component-scan base-package="de.thm.arsnova.dao,de.thm.arsnova.cache,de.thm.arsnova.events,de.thm.arsnova.security,de.thm.arsnova.services,de.thm.arsnova.config,de.thm.arsnova.domain" />

	<context:annotation-config />

	<task:annotation-driven />

	<!--
		expose-proxy is needed to access the proxy object via AopContext.currentProxy() in CouchDBDao. It might have a
		negative impact on performance but is needed for caching until a better solution is implemented (e.g. use of
		AspectJ's weaving).
	-->
	<aop:aspectj-autoproxy expose-proxy="true">
		<aop:include name="userSessionAspect" />
	</aop:aspectj-autoproxy>

	<bean id="userSessionAspect" class="de.thm.arsnova.aop.UserSessionAspect" />

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}"/>
	</bean>

	<bean id="databaseDao" class="de.thm.arsnova.dao.CouchDBDao" />

	<bean id="socketListener" class="de.thm.arsnova.socket.ARSnovaSocketListener" />
</beans>
