<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="de.thm.arsnova" />
	<context:annotation-config />

	<sec:http entry-point-ref="casEntryPoint" disable-url-rewriting="true">
		<sec:intercept-url pattern="/j_spring_security_check"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/doCasLogin" access="ROLE_USER" />
		<sec:custom-filter ref="casAuthenticationFilter" position="CAS_FILTER" />
		<sec:openid-login user-service-ref="openidUserDetailsService"
			default-target-url="${security.openid-target-url}" />
    	<sec:custom-filter ref="singleSignOutFilter" before="CAS_FILTER"/>
    	<sec:custom-filter ref="requestSingleLogoutFilter" before="LOGOUT_FILTER"/>    
    </sec:http>

	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider ref="casAuthenticationProvider" />
	</sec:authentication-manager>	
	
	<bean id="casAuthenticationFilter"
		class="org.springframework.security.cas.web.CasAuthenticationFilter"
		p:authenticationManager-ref="authenticationManager" />

	<bean id="casEntryPoint"
		class="org.springframework.security.cas.web.CasAuthenticationEntryPoint"
		p:loginUrl="${security.cas-server-url}/login"
		p:serviceProperties-ref="casServiceProperties" />
	
	<bean id="casServiceProperties" 
		class="org.springframework.security.cas.ServiceProperties"
	    p:service="${security.cas-check-url}"
	    p:sendRenew="false" />

	<bean id="casAuthenticationProvider"
		class="org.springframework.security.cas.authentication.CasAuthenticationProvider"
		p:key="casAuthProviderKey"
		p:serviceProperties-ref="casServiceProperties"		
		p:authenticationUserDetailsService-ref="casUserDetailsService" 
		p:ticketValidator-ref="casTicketValidator" />
	
	<bean id="casUserDetailsService" class="de.thm.arsnova.CasUserDetailsService" />
	<bean id="casTicketValidator" class="org.jasig.cas.client.validation.Cas20ProxyTicketValidator">
		<constructor-arg value="${security.cas-server-url}" />
	</bean>

	<bean id="singleSignOutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter" />
	<bean id="requestSingleLogoutFilter"
	    class="org.springframework.security.web.authentication.logout.LogoutFilter"
	    p:filterProcessesUrl="/j_spring_cas_security_logout" >
		<constructor-arg value="${security.cas-server-url}/logout?url=${security.arsnova-url}"/>
	    <constructor-arg>
	      <bean class=
	          "org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
	    </constructor-arg>
	</bean>
</beans>
