workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_BRANCH

include: .gitlab/ci/gradle-dependency-cache.yml

build_project:
  stage: build
  parallel:
    matrix:
      - PROJECT: authz
      - PROJECT: comments
      - PROJECT: core
      - PROJECT: formatting
      - PROJECT: gateway
      - PROJECT: websocket
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_MERGE_REQUEST_ID || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH =~ /^[0-9]+\.[0-9]+$/ || $CI_COMMIT_TAG =~ /^v[0-9]+/
      changes:
        - "*"
        - ".gitlab/ci/**/*"
        - "$PROJECT/**/*"
      when: on_success
    - if: $CI_COMMIT_BRANCH =~ /^renovate\//
      changes:
        paths:
          - "*"
          - ".gitlab/ci/**/*"
          - "$PROJECT/**/*"
        # GitLab does not support variables in compare_to (tested against 15.5)
        #compare_to: $CI_DEFAULT_BRANCH
        compare_to: master
      when: on_success
    - when: manual
  inherit:
    # Some predefined CI variables are not set for the child pipeline if variables are inherited
    variables: false
  trigger:
    include: "$PROJECT/.gitlab-ci.yml"
    strategy: depend

build_dependency_image:
  stage: deploy
  needs: []
  parallel:
    matrix:
      - IMAGE_NAME: arsnova-proxy
      - IMAGE_NAME: rabbitmq-stomp
        IMAGE_VARIANT:
          - ""
          - "management"
      - IMAGE_NAME: couchdb
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - ".docker/images/**/*"
        - ".docker/images/$IMAGE_NAME/**/*"
      when: manual
      variables:
        IMAGE_TAG_AFFIX: $CI_COMMIT_REF_SLUG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - ".docker/images/**/*"
        - ".docker/images/$IMAGE_NAME/**/*"
      when: on_success
  trigger:
    include: ".docker/images/.gitlab-ci.yml"
    strategy: depend
