@CHARSET "UTF-8";

body {
	background: #eee;
}

article {
	background: white url(thm-logo.png) no-repeat 16px 98%;
	margin: 16px;
	padding: 48px 16px;
	border-radius: 4px;
	box-shadow: 0 1px 2px #ccc;
	text-align: center;
	font-weight: bold;
}

article > h1 {
	background: url(logo_128.png) no-repeat 50% top;
	padding: 140px 48px 48px 48px;
	color: #800000;
	text-shadow: 0 1px 0 white, 0 2px 1px #ccc;
}
