################################################################################
# General server settings
################################################################################
# The URL under which the ARSnova server is reachable. Use
# http://localhost:8080 for development.
root-url=https://example.com

# The path where the ARSnova API is accessible by clients. By default, this path
# is set to the context path of the backend. If you are running the backend
# behind a proxy server, you might need to set this path manually.
#api.path=/api

# The context paths where the ARSnova modules have been deployed
customization.path=/customization
mobile.path=/mobile
presenter.path=/presenter

# SSL configuration
security.ssl=false
security.keystore=/etc/arsnova/arsnova.jks
security.storepass=arsnova

# WebSockets server
socketio.ip=0.0.0.0
socketio.port=10443


################################################################################
# Database
################################################################################
couchdb.host=localhost
couchdb.port=5984
couchdb.name=arsnova
couchdb.username=admin
couchdb.password=


################################################################################
# E-Mail
################################################################################
mail.sender.name=ARSnova
mail.sender.address=
mail.host=


################################################################################
# Authentication
################################################################################
# After the specified number of login tries the client IP will be banned for
# several minutes
security.authentication.login-try-limit=50

# Configuration parameters for authentication services:
# enabled: enable or disable the service
# title: the title which is displayed by frontends
# login-dialog-path: URL of a login dialog page
# image: an image which is used for frontend buttons

# Guest authentication
#
security.guest.enabled=true
security.guest.order=0
security.guest.lecturer.enabled=true

# Setup combined login if you want to use a single, customized login page
# which is used for multiple authentication services.
#
security.custom-login.enabled=false
security.custom-login.title=University
security.custom-login.login-dialog-path=
security.custom-login.image=
security.custom-login.order=0

# Internal authentication
#
# Specific parameters:
# activation-path: URL of the account activation page
# allowed-email-domains: Allows you to restrict registration to specific
#     domains. You can use wildcards (*), e. g. *.*.example.com. Multiple
#     entries are separated by commas.
# registration-mail.subject: Subject used for registration e-mail
# registration-mail.body: Text body used for registration e-mail. {0} will be
#     replaced by the value of activation-path.
#
security.user-db.enabled=true
security.user-db.title=ARSnova
security.user-db.login-dialog-path=account.html
security.user-db.activation-path=account.html
security.user-db.reset-password-path=account.html
security.user-db.image=
security.user-db.order=0
security.user-db.allowed-email-domains=*
security.user-db.registration-mail.subject=ARSnova Registration
security.user-db.registration-mail.body=Welcome to ARSnova!\n\nPlease confirm \
    your registration by visiting the following web address:\n{0}\n\n\
    Afterwards, you can log into ARSnova with your e-mail address and password.
security.user-db.reset-password-mail.subject=ARSnova Password Reset
security.user-db.reset-password-mail.body=You requested to reset your \
    password.\n\nPlease follow the link below to set a new password:\n{0}

# LDAP authentication
#
# Specific parameters:
# url: LDAP server URL
# user-dn-pattern: Pattern used to check user credentials against the LDAP
#     server. {0} will be replaced with the user ID by ARSnova.
#
security.ldap.enabled=false
security.ldap.title=LDAP
security.ldap.login-dialog-path=login-ldap.html
security.ldap.image=
security.ldap.order=0
security.ldap.url=ldap://example.com:33389/dc=example,dc=com
security.ldap.user-dn-pattern=uid={0},ou=arsnova
# Not yet implemented parameters
#security.ldap.user-search-filter=(uid={0})
#security.ldap.user-search-base="ou=people"

# CAS authentication
#
security.cas.enabled=false
security.cas.title=CAS
security.cas.image=
security.cas.order=0
security.cas-server-url=https://example.com/cas

# OAuth authentication with third party services
# Specific parameters:
# key: OAuth key/id provided by a third party auth service
# secret: OAuth secret provided by a third party auth service

# Facebook
#
security.facebook.enabled=false
security.facebook.order=0
security.facebook.key=
security.facebook.secret=

# Twitter
#
security.twitter.enabled=false
security.twitter.order=0
security.twitter.key=
security.twitter.secret=

# Google
#
security.google.enabled=false
security.google.order=0
security.google.key=
security.google.secret=


################################################################################
# ARSnova Connector (for LMS)
################################################################################
connector.enable=false
connector.uri=http://localhost:8080/connector-service
connector.username=test
connector.password=test


################################################################################
# Features
################################################################################
# Enable MathJax to allow the use of Math formulas written in TeX syntax in
# text fields.
features.mathjax.enabled=true
features.mathjax.src=//cdn.mathjax.org/mathjax/2.4-latest/MathJax.js

# The following features are considered experimental because they have not been
# tested in a production environment over a longer time frame and/or their
# behavior will change in future releases.
#
features.markdown.enabled=true
features.learning-progress.enabled=true
features.students-own-questions.enabled=true
features.freetext-imageanswer.enabled=true
features.question-format.flashcard.enabled=true
features.question-format.grid-square.enabled=true

# Without enabled session-import-export feature no sessions can be added to the
# public pool
#
features.session-import-export.enabled=true
features.public-pool.enabled=true


################################################################################
# Customization
################################################################################
# Minutes, after which the feedback is deleted
feedback.cleanup=10

# Maximal filesize in bytes
upload.filesize_b=4194304

# Maximal thumbnail size in pixels
imageupload.thumbnail.width=400
imageupload.thumbnail.height=400

# Maximal number of answer options allowed for a skill question
question.answer-option-limit=8

# Enable Markdown and MathJax parsing in answer options. Formatting in answer
# options should be used cautiously since it could lead to display errors.
# Answer options will still not be parsed in diagrams. This setting has no
# effect if neither MathJax nor Markdown are enabled.
question.parse-answer-option-formatting=true

# Demo session id to show above session login button
session.demo-id=

# Label underneath ARSnova logo
ui.slogan=Audience Response System

# Splashscreen configuration
# Best results are achieved with logos that have the same width and height.
splashscreen.logo-path=resources/images/arsnova-logo.png
splashscreen.slogan=Audience Response System
splashscreen.background-color=#E0E0E0
splashscreen.loading-ind-color=#4A5C66

# Links which are displayed in the frontend applications
#
links.blog.url=https://arsnova.eu/blog/
links.documentation.url=https://arsnova.eu/manual/
links.presenter-documentation.url=
links.overlay.url=https://arsnova.eu/overlay/
links.organization.url=
links.imprint.url=
links.privacy-policy.url=

# Configuration for the public pool
#
pp.subjects = Allgemeines,Anglistik,Architektur,Bauingenieurwesen,Betriebswirtschaftslehre,Biologie,Chemie,Elektrotechnik,Geographie,Geowissenschaften,Germanistik,Geschichtswissenschaft,Informatik,Kunst,Kunstpädagogik,Maschinenbau,Mathematik,Medienwissenschaften,Medizin,Musik,Pharmazie,Physik,Psychologie,Rechtswissenschaften,Stadtplanung,Theaterwissenschaften,Theologie,Vermessungswesen,Volkswirtschaftslehre
pp.licenses = CC by - Attribution,\
    CC nc - Non-Commercial,\
    CC nd - No Derivatives,\
    CC sa - Share Alike,\
    CCO - Public Domain,\
    CC by-nd -  Attribution-No Derivatives,\
    CC by-c - Attribution-Non-Commercial,\
    CC by-nc-sa - Attribution-Non-Derivatives-Share Alike,\
    CC by-nc-nd Attribution-Non-Commercial- No Derivatives,\
    GNU GPL - GNU General Public License
pp.logofilesize_b = 102400
# Do not reorder levels. Append new levels to the end of the list. Otherwise, references in existing public sessions
# could be mixed up.
#
pp.session-levels.de = Allgemeinbildung,\
    Abitur,\
    Bachelor,\
    Master,\
    Wer wird Millionär,\
    Sonstiges
pp.session-levels.en = General Education,\
    Highschool,\
    Bachelor,\
    Master,\
    Who Wants to Be a Millionaire,\
    Miscellaneous


################################################################################
# Tracking
################################################################################
# It is possible to use an external tracking software with ARSnova. Currently
# Piwik is the only supported tracking provider.
#
tracking.provider=piwik
tracking.tracker-url=
tracking.site-id=