<configuration>
	<if condition='isDefined("arsnova.log.properties")'>
		<then>
			<property file="${arsnova.log.properties}" />
		</then>
	</if>
	<if condition='!isDefined("arsnova.log.level")'>
		<then>
			<property name="arsnova.log.level" value="${arsnova.log.level.root:-INFO}" />
		</then>
	</if>
	<if condition='!isDefined("arsnova.log.level.spring")'>
		<then>
			<property name="arsnova.log.level.spring" value="${arsnova.log.level.root:-INFO}" />
		</then>
	</if>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{36} - %msg%n%ex{${arsnova.log.exceptions:-short}}</pattern>
		</encoder>
	</appender>

	<root level="${arsnova.log.level.root:-INFO}">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="de.thm.arsnova" level="${arsnova.log.level}" />
	<logger name="org.springframework" level="${arsnova.log.level.spring}" />

	<logger name="com.corundumstudio.socketio" level="WARN" />
	<logger name="com.corundumstudio.socketio.handler.AuthorizeHandler" level="OFF" />
	<logger name="com.corundumstudio.socketio.handler.WrongUrlHandler" level="ERROR" />
	<logger name="io.netty" level="WARN" />
	<logger name="io.netty.channel.DefaultChannelPipeline" level="ERROR" />
	<logger name="org.pac4j.oauth.profile" level="WARN" />
	<logger name="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" level="WARN" />
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN" />
</configuration>
