spring:
  jackson:
    default-property-inclusion: NON_NULL
---
server:
  port: 9090
  use-forward-headers: true
  forward-headers-strategy: NATIVE
---
management:
  endpoints:
    web:
      base-path: /management/http-gateway
      exposure:
        include:
          - health
          - prometheus
  endpoint:
    health:
      show-details: when-authorized
      roles:
        - ADMIN
        - MONITORING
  metrics:
    web:
      server:
        auto-time-requests: true
---
routing:
  endpoints:
    core: "http://localhost:8080/"
    ws-gateway: "http://localhost:8099"
    comment-service: "http://localhost:8088/"
    roomaccess-service: "http://localhost:8092/"
    import-service: "http://localhost:8070/"
    formatting-service: "http://localhost:3020/"
    proxy-metrics: "http://localhost:9113/"
---
security:
  jwt:
    public-secret: "secret"
    internal-secret: "secret"
    serverId: arsnova.backend.v3:example.com
    validity-period: 5m
---
http-client:
  auth-service: "http://127.0.0.1:8092"
  comment-service: "http://127.0.0.1:8088"
  core: "http://127.0.0.1:8080"
  ws-gateway: "http://127.0.0.1:8099"
---
logging:
  level:
    org.springframework.cloud.gateway: INFO
---
gateway:
  rate-limit:
    duration: 5s
    query-tokens-per-timeframe: 50
    query-burst-capacity: 250
    command-tokens-per-timeframe: 15
    command-burst-capacity: 75
    whitelisted-ips:
      - 172.18.0.18
