server.port=8088

spring.rabbitmq.username=arsnova
spring.rabbitmq.password=arsnova
spring.rabbitmq.port=5672

spring.datasource.url=jdbc:postgresql://localhost:5432/arsnovacomment
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.platform=postgres
spring.datasource.username=arsnovacomment
spring.datasource.password=arsnovacomment

# validate: validate the schema, makes no changes to the database.
# update: update the schema.
# create: creates the schema, destroying previous data.
# create-drop: drop the schema at the end of the session.
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
# Disable feature detection by this undocumented parameter.
# Check the org.hibernate.engine.jdbc.internal.JdbcServiceImpl.configure method for more details.
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false

# Because detection is disabled you have to set correct dialect by hand.
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQL9Dialect


################################################################################
# Messaging / Microservices
################################################################################
messaging.prefix=/backend
stomp.destination.prefix=/exchange,/topic,/queue
stomp.relay.host=localhost
# Default port for RabbitMQ is preset
stomp.relay.port=61613
stomp.relay.user=arsnova
stomp.relay.password=arsnova
stomp.user.registry.broadcast=/topic/log-user-registry
stomp.user.destination.broadcast=/queue/log-unresolved-user
