[submodule "arsnova-auth-service"]
	path = arsnova-auth-service
	url = ../../foss/arsnova-auth-service
[submodule "arsnova-backend"]
	path = arsnova-backend
	url = ../../foss/arsnova-backend
[submodule "arsnova-comment-service"]
	path = arsnova-comment-service
	url = ../../foss/arsnova-comment-service
[submodule "arsnova-formatting-service"]
	path = arsnova-formatting-service
	url = ../../foss/formatting-service
[submodule "arsnova-http-gateway"]
	path = arsnova-http-gateway
	url = ../../foss/arsnova-http-gateway
[submodule "arsnova-webclient"]
	path = arsnova-webclient
	url = ../../foss/arsnova-webclient
[submodule "arsnova-ws-gateway"]
	path = arsnova-ws-gateway
	url = ../../foss/arsnova-ws-gateway
[submodule "docker-orchestration"]
	path = docker-orchestration
	url = ../docker-orchestration
