logging:
  include-application-name: false
  exception-conversion-word: "%wEx{${logging.exception-depth:short}}"

server:
  servlet:
    contextPath: /api

spring:
  application:
    name: arsnova-core4

  datasource:
    hikari:
      schema: public

  jpa:
    properties:
      hibernate:
        default_schema: public

  liquibase:
    contexts: "!dev"

  threads:
    virtual:
      # Virtual threads currently cause issue with security context propagation for GraphQL requests.
      enabled: false

  graphql:
    graphiql:
      enabled: true

  rabbitmq:
    host: rabbitmq

docker:
  compose:
    file:
      - .containers/compose.yaml

security:
  jwt:
    validity-period: 6H
  challenge:
    max-number: 100_000
    validity-seconds: 60
  authorize-uri-header: X-Forwarded-Uri
  authorize-uri-prefix: /api

persistence:
  v3-migration:
    enabled: false
    couchdb-url: http://couchdb:5984/arsnova3
    room-access-url: http://arsnova-server-authz:8080/roomaccess

mail:
  invitation-uri-pattern: /user/{0}/accept-invitation?code={1}&expires={2}
  verification-uri-pattern: /user/{0}/verify?code={1}&expires={2}
  password-reset-uri-pattern: /password-reset/{0}

common:
  text-rendering:
    enabled: true
    service-url: http://arsnova-server-formatting:3000

service:
  product-name: arsnova
