HELP.md
.gradle
build/
credentials/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iml
*.ipr
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/

### VS Code ###
.vscode/
!.vscode/launch.json
!.vscode/tasks.json

### Kotlin ###
.kotlin
