<meta name="color-scheme" content="light dark">
<style>
body { color: #212121; background: #fdfdfd; margin: 1em; font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif }
main, footer { max-width: 40em; margin: auto }
footer { border-top: 1px solid #666; margin-top: 2em; padding-top: .5em; text-align: center }
footer p { margin: 0; font-size: .8em }
footer img { margin-top: 0.5em }
footer a { opacity: .8 }
footer .info-line { opacity: .7 }
h1 { font-size: 1.4em }
.code { margin-left: 2em; font-size: 1.2em; letter-spacing: .2em; speak-as: digits }
@media (prefers-color-scheme: dark) {
  body { color: #fdfdfd; background: #212121 }
  footer { border-top: 1px solid #999 }
}
</style>
