<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:insert="~{head.html}"></head>
<body>
<div class="body">
<div class="main" role="main">
<h1 th:text="#{mail.welcome(${productName})}"></h1>
<p th:text="#{mail.verification-code-intro}"></p>
<p class="code"><strong th:text="${code}"></strong></p>
<p><span th:text="#{mail.verification-link-intro}"></span> <a th:href="@{|${serviceUrl}${verificationUri}|}" th:text="#{mail.verification-link-text}"></a></p>
</div>
<div class="footer" role="contentinfo" th:insert="~{footer.html}"></div>
</div>
</body>
</html>
