arsnova:
  management:
    endpoints:
      web:
        base-path: /management
    endpoint:
      health:
        show-details: when-authorized
        roles:
          - ADMIN
          - OBSERVABILITY
    health:
      ssl:
        enabled: false
