security.arsnova-url=http://localhost:8080

security.guest.enabled=true
security.guest.lecturer.enabled=true

security.ldap.enabled=true
security.ldap.url=ldap://example.com:33389/dc=example,dc=com
security.ldap.user-search-filter=(uid={0})
security.ldap.user-search-base="ou=people"

security.cas.enabled=true
security.cas-server-url=https://cas.thm.de/cas

security.facebook.enabled=true
security.facebook.key=
security.facebook.secret=

security.twitter.enabled=true
security.twitter.key=
security.twitter.secret=

security.google.enabled=true
security.google.key=
security.google.secret=

security.ssl=false
security.keystore=/etc/arsnova.thm.de.jks
security.storepass=arsnova

# minutes, after which the feedback is deleted
feedback.cleanup=10

couchdb.host=localhost
couchdb.port=5984
couchdb.name=arsnova
couchdb.username=admin
couchdb.password=

socketio.ip=0.0.0.0
socketio.port=10443

connector.uri=http://localhost:8080/connector-service
connector.username=test
connector.password=test
