security.arsnova-url=http://localhost:8080
security.cas-server-url=https://cas.thm.de/cas

security.facebook.key=318531508227494
security.facebook.secret=e3f38cfc72bb63e35641b637081a6177

security.twitter.key=PEVtidSG0HzSrxVRPpsCXw
security.twitter.secret=mC0HOvxiEgqwdDWCcDoy3q75nUQPu1bYRp1ncHWGd0

security.google.key=110959746118.apps.googleusercontent.com
security.google.secret=CkzUJZswY8rjWCCYnHVovyGA

security.ssl=false
security.keystore=/etc/arsnova.thm.de.jks
security.storepass=arsnova

# minutes, after which the feedback is deleted
feedback.cleanup=10

# maximal filesize in bytes
upload.filesize_b=1048576

couchdb.host=localhost
couchdb.port=5984
couchdb.name=arsnova
couchdb.username=admin
couchdb.password=

socketio.ip=0.0.0.0
socketio.port=10443

connector.uri=http://localhost:8080/connector-service
connector.username=test
connector.password=test
